<footer class="footer">
    <div class="container">
        <div class="row my-3">
            <div class="col-6">
                
                
<!--                 <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
                </div> -->
            </div>
            <div class="col-6" style="text-align: right;">
               <a href='https://clustrmaps.com/site/1c0rs'  title='Visit tracker'><img src='//clustrmaps.com/map_v2.png?cl=080808&w=150&t=tt&d=4iCG9AU7TePzbF9RJpdi7ldGutgtThRAZicEfipnpA0&co=f8f9fa&ct=808080'/></a>
            </div>
        </div>
    </div>
</footer>
