<footer class="footer">
    <div class="container">
        <div class="row my-3">
            <div class="col-6">

                <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
                    <span id="sitetime"></span> <!--显示建站时间的地方放置此代码 可以加上其他代HTML代码加粗颜色等-->
                    <script language=javascript>
                    </script>
                    <span id="busuanzi_container_site_uv">
                    👤Total Visitors <span id="busuanzi_value_site_uv"></span> |
                    </span>
                    <span id="busuanzi_container_site_pv">
                    👁️Total Views <span id="busuanzi_value_site_pv"></span>
                    </span>

               
                
<!--                 <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
                </div> -->
            </div>
            <div class="col-6">
                <div class="text-right text-muted">
                    {{ site.data.profile.footer_text }}
                </div>
            </div>
        </div>
    </div>
</footer>
